* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lexend Deca', sans-serif;
    width: 375px;
    height: 667px;
    background-color: #F2F2F2
}

a{
    text-decoration: none;
}

